In [45]:
import pandas as pd

## 1. Import Data

In [46]:
df = pd.read_csv('ramen-ratings.csv')

# 2. Inspect a portion of the dataset

In [47]:
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [48]:
df.tail(10)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
2573,10,Smack,Vegetable Beef,Pack,USA,1.5,NaN
2574,9,Sutah,Cup Noodle,Cup,South Korea,2,NaN
2575,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3,NaN
2576,7,Ve Wong,Mushroom Pork,Pack,Vietnam,1,NaN
2577,6,Vifon,Nam Vang,Pack,Vietnam,2.5,NaN
2578,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2579,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2580,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2581,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2582,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

# 3. Shape and Basic Info about the dataset

In [49]:
df.shape

(2583, 7)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2583 entries, 0 to 2582
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2583 non-null   int64
 1   Brand     2583 non-null   object
 2   Variety   2583 non-null   object
 3   Style     2581 non-null   object
 4   Country   2583 non-null   object
 5   Stars     2583 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.4+ KB

In [51]:
#df.Stars.value_counts().sort_values()
df.Stars.unique()

array(['3.75', '1', '2.25', '2.75', '4.75', '4', '0.25', '2.5', '5',
       '4.25', '4.5', '3.5', 'Unrated', '1.5', '3.25', '2', '0', '3',
       '0.5', '4.00', '5.0', '3.50', '3.8', '4.3', '2.3', '5.00', '3.3',
       '4.0', '3.00', '1.75', '3.0', '4.50', '0.75', '1.25', '1.1', '2.1',
       '0.9', '3.1', '4.125', '3.125', '2.125', '2.9', '0.1', '2.8',
       '3.7', '3.4', '3.6', '2.85', '3.2', '3.65', '1.8'], dtype=object)

# 4. Look for Duplicates

In [52]:
df.duplicated().sum()

3

In [53]:
df.drop_duplicates(inplace=True)
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2578,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2579,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2580,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2581,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2582,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

# 5. Fix Types

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 2582
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 161.2+ KB

In [55]:
df[df.Stars == "Unrated"]
df.Stars.replace("Unrated", 0, inplace=True)

df[df.Stars == "Unrated"]

Empty DataFrame
Columns: [Review #, Brand, Variety, Style, Country, Stars, Top Ten]
Index: []

In [56]:
#Method 1
df.Stars = pd.to_numeric(df.Stars)

#Method 2
df.Stars.astype(float)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 2582
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   float64
 6   Top Ten   41 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 161.2+ KB

# 6. Summarise Numeric Columns

In [57]:
df.describe()

          Review #        Stars
count  2580.000000  2580.000000
mean   1290.500000     3.650426
std     744.926171     1.022358
min       1.000000     0.000000
25%     645.750000     3.250000
50%    1290.500000     3.750000
75%    1935.250000     4.250000
max    2580.000000     5.000000

# 7. Summarise Categorical Columns

In [58]:
df.columns

Index(['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten'], dtype='object')

In [59]:
df.Brand.value_counts()

Nissin           381
Nongshim          98
Maruchan          76
Mama              71
Paldo             66
                ...
Golden Wonder      1
Peyang             1
Sanrio             1
China Best         1
Westbrae           1
Name: Brand, Length: 355, dtype: int64

In [60]:
df.Variety.value_counts()

Beef                                              7
Chicken                                           7
Yakisoba                                          6
Artificial Chicken                                6
Vegetable                                         6
                                                 ..
Oh! Ricey Pho Ga                                  1
Veggie Noodle Black Sesame Noodle                 1
Nuudeli Liha Nudlar Kott                          1
Artificial Beef Instant Noodles With Soup Base    1
Tom Yum Chili Flavor                              1
Name: Variety, Length: 2413, dtype: int64

In [61]:
df.Country.value_counts()

Japan            352
USA              323
South Korea      309
Taiwan           224
Thailand         191
China            169
Malaysia         156
Hong Kong        137
Indonesia        126
Singapore        109
Vietnam          108
UK                69
Philippines       47
Canada            41
India             31
Germany           27
Mexico            25
Australia         22
Netherlands       15
Myanmar           14
Nepal             14
Pakistan           9
Hungary            9
Bangladesh         7
Colombia           6
Brazil             5
Cambodia           5
Fiji               4
Holland            4
Poland             4
Finland            3
Sarawak            3
Sweden             3
Dubai              3
Ghana              2
Estonia            2
Nigeria            1
United States      1
Name: Country, dtype: int64

In [62]:
df[df.Country == "United States"]

df.loc[578, "Country"] = "USA"

df[df.Country == "United States"]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
576,2007,Nongshim,Rice Fettucini Alfredo,Pack,United States,3.75,NaN

# 8. Drop and Rename Columns

In [63]:
df.columns

Index(['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten'], dtype='object')

In [64]:
df = df.drop("Review #", axis=1)
df

,Brand,Variety,Style,Country,Stars,Top Ten
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...
2578,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN
2579,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN
2580,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN
2581,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN
2582,Westbrae,Miso Ramen,Pack,USA,0.50,NaN

In [69]:
df.columns = [['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten']]
#df.TopTen

ValueError: Length mismatch: Expected axis has 6 elements, new values have 7 elements

# 9. Deal with Nulls

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 2582
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2580 non-null   object
 1   Variety  2580 non-null   object
 2   Style    2578 non-null   object
 3   Country  2580 non-null   object
 4   Stars    2580 non-null   float64
 5   Top Ten  41 non-null     object
dtypes: float64(1), object(5)
memory usage: 205.6+ KB

In [66]:
df.TopTen.describe()

AttributeError: 'DataFrame' object has no attribute 'TopTen'

In [67]:
df.TopTen.fillna(0)

AttributeError: 'DataFrame' object has no attribute 'TopTen'

# 10. Group and Order